# Include front-end assets
recursive-include virtualscanner/coms/coms_ui *.*

# Include subject.db
include virtualscanner/server/registration/subject.db

# DRUNCK Recon
# Exclude Keras model
exclude virtualscanner/server/recon/drunck/assets *.hdf5
# Include unit test assets
# include virtualscanner/server/recon/drunck/assets *.jpg