#mainpanel{
  min-height: 90vh;
  min-width: 950px;
}
.first-row-header{
  padding-top: 30px;
}

#dropdownMenuButton{
  font-size: 1.25rem;
  font-weight: 500;
  height: auto;
}





.mediuminput{
  width: 100px;
  height: 24px;
  border-color:black;
  border-width: 2px;
}

.smallinput2{
  width: 60px;
  height: 24px;
  border-color:black;
  border-width: 2px;

}




.coltype3{
  text-align: center;

}

.voxsize{
  padding-top: 20px;
  line-height:2px;
  font-size: 0.9rem;
}
.list-group-item{
  border-color:#2f2f91;
  border-width: 2px;
  color: black;
}
.list-group-item.active{
  background-color: green;
  border-color:#2f2f91;
  border-width: 2px;
}

.radio-inline{
  font-size: 0.9rem;
  margin-bottom: 0px;
}
.not-first-radio{
  margin-left:8px;
}
label{
  margin-bottom: 1.2rem; /*Default 0.5rem*/
  font-size: 16px;
}

#subjectImage{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*margin-left:25px;*/
}
#extraImpFields{
  display:none;
}
#submitButton{
  margin-top:15px;
  margin-bottom: 20px;
  text-align:center;
  position:relative;
  bottom:0;
}
