<!--"""-->
<!--This script corresponds to the GUI content for the Acquire tab of the virtual scanner-->
<!--Parameters-->
    <!-- TODO: change this -->
    <!--Requires input from the user regarding subject data and Procedure-->
    <!--ID, Name, Age, Date of Birth, Gender, Weight, height, orientation within the scanner and anatomy imaged -->

<!--Returns-->
    <!--payload with the form inputs after pressing the submission button-->


<!--Author: Marina Manso-->
<!--Date: 04/04/2019-->
<!--Version 0.0-->
<!--Copyright of the Board of Trustees of  Columbia University in the City of New York-->
<!--"""-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Standard Mode</title>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!--CSS-->
  <link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='acquire_style.css')}}">

  <!--Favicon -->
  <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

  <!--Enclosing Panel-->
  <div id="enclosingjumbo" class="jumbotron">

    <h1>Virtual MR Scanner - Standard Mode</h1>

    <!--Acquired images will be displayed in three views: axial, sagital and coronal-->
    <div class="images-container">
      <!--Axial-->
      <div id="axial-container" class="container acquire-container">
        <p>Axial View</p>
      </div>

      <!--Sagital-->
      <div id="sagital-container" class="container acquire-container">
        <p>Sagital View</p>
      </div>

      <!--Coronal-->
      <div id="coronal-container" class="container acquire-container">
        <p>Coronal View</p>
      </div>
    </div>

    <!-- TODO: name all the inputs -->

      <!--Main Panel-->
      <div id="panel-container" class="container">

        <div id="mainpanel" class="jumbotron">

          <!--Navigation Bar-->
          <nav>
            <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('on_register')}}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('on_acq')}}">Acquire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('on_analyze')}}">Analyze</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="export.html" >Export</a>
            </li>
          </nav>

          <form id="seqparameters">

            <div class="row">

              <!--Column 1: Sequence Contrast-->
              <div class="col">

                <h2 id="first-row-item">Contrast</h2>
                <div class="row">

                  <!--Column 1.1: Parameters: TR,TE,TI,FA-->
                  <div class="col">
                    <div class="row">

                      <!--Column 1.1.1: TAGS (Parameters: TR,TE,TI,FA)-->
                      <div class="col coltype1">
                        <label>TR</label>
                         <div class="w-100"></div>
                        <label>TE</label>
                         <div class="w-100"></div>
                        <label>TI</label>
                         <div class="w-100"></div>
                        <label>Flip Angle</label>
                      </div>

                      <!--Column 1.1.2: INPUTS (Parameters: TR,TE,TI,FA)-->
                      <div class="col coltype2">

                        <label>
                          <input id="TR" type="number" class="smallinput" name="TR">
                        </label>
                        <label>ms</label>

                          <div class="w-100"></div>

                        <label>
                          <input id="TE" type="number" class="smallinput" name="TE">
                        </label>
                        <label>ms</label>

                          <div class="w-100"></div>

                        <label>
                          <input id="TI" type="number"  class="smallinput" name="TI">
                        </label>
                        <label>ms</label>

                          <div class="w-100"></div>

                        <label>
                          <input id="FA" type="number" class="smallinput" name="FA">
                        </label>
                        <label>deg</label>

                      </div>
                    </div>

                  </div>

                  <!--Column 1.2: Water/Fat supression-->
                  <div class="col">
                    <div class="row">

                      <!--Column 1.2.1: (TAGS) Water/Fat supression-->
                      <div class="col coltype1">
                        <label>Water Supression:</label>
                          <div class="w-100"></div>
                        <label>Fat Supression:</label>
                      </div>

                      <div class="col coltype2">
                        <label>
                          <select id="watsup" class="selector" name="ws">
                            <option value="no">None</option>
                            <option value="yes">Yes</option>
                          </select>
                        </label>

                          <div class="w-100"></div>

                        <label>
                          <select id="fatsup" class="selector" name="fs">
                            <option value="no">None</option>
                            <option value="yes">Yes</option>
                          </select>
                        </label>

                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <!--Column 2: Sequence Geometry-->
              <div class="col">

                <h2 id="first-row-item">Geometry</h2>

              </div>

            </div>

          </form>

        </div> <!--Main Panel-->

      </div> <!--Panel container-->

      <!--<div class="row">

        <div class="col">

          <button type="button" class="btn btn-primary">+</button>
          <button type="button" class="btn btn-primary" onclick="submitseqpars()">Run Exam</button>-->
          <!-- TODO: migrate this function to jQuery -->
          <!--<script>
            function submitseqpars() {
              document.getElementById("seqparameters").submit();
            }
          </script>
          <button type="button" class="btn btn-primary">Run All</button>


            <div class="list-group" style="margin-top: 20px">
              <a href="#" class="list-group-item list-group-item-action">
                Localizer
              </a>
              <a id="se" href="#" class="list-group-item list-group-item-action active">
                Spin Echo
              </a>

            </div>-->
            <!-- TODO: Fix this -->
            <!--<script>

            if (document.getElementById("se").disabled == "active"){
              document.getElementById("TItag").disabled=true;
            }


            </script>





        </div>-->

  </div> <!-- Enclosing panel-->

</body>

</html>
  <!-- * fill:#7f98d6;fill-opacity:1;fill-rule:nonzero;stroke:none /* -->
