<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This will be the home page</h1>
    <nav>

      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('on_register')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('on_acq')}}">Acquire</a>
          <!--<a class="nav-link" href="acquire.html">Acquire</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('on_analyze')}}">Analyze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="export.html" >Export</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
