<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      form{
        display: flex;
        flex-direction:column;
        width: fit-content;
      }
    </style>

    <!--JQuery-->
    <script type="text/javascript" src="../static/packages/jquery-3.3.1.min.js"></script>

    <!--JavaScript customized funcitons-->
    <script type="text/javascript" src="{{url_for('static',filename='log_in_func.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='form2Json.js')}}"></script>

    <!--Favicon -->
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">


  </head>
  <body>
    <h1>Log in here:</h1>
    <form method="post">
      <input type="hidden" id="formId" name="formName" value="log-in">

      <label>E-mail:
        <input type="email" name="user-name">
      </label>



        <label for="opt1">Standard
          <input class="mode-option" id="opt1" type="radio" name="mode" value="Standard" checked >
        </label>
        <label for="opt2">Advanced
          <input class="mode-option" id="opt2" type="radio" name="mode" value="Advanced" >
        </label>



      <input id="mode-selection"  type="submit" value="Send">



    </form>






  </body>
</html>
