<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      form{
        display: flex;
        flex-direction:column;
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <h1>Log in here:</h1>
    <form class="" action="/" method="post">
      <label>E-mail:
        <input type="email" name="user-name">
      </label>



        <label for="opt1">Standard
          <input id="opt1" type="radio" name="gender" value="Standard" checked >
        </label>
        <label for="opt2">Advanced
          <input id="opt2" type="radio" name="gender" value="Advanced" >
        </label>



      <input type="submit" value="Send">



    </form>






  </body>
</html>
