<h2>Contrast</h2>

<div class="row">

    <div class="col coltype1">
      <label for="TRtag">TR</label>
       <div class="w-100"></div>
      <label for="TEtag">TE</label>
       <div class="w-100"></div>
      <label for="TItag">TI</label>
       <div class="w-100"></div>
      <label for="FAtag">Flip Angle</label>
    </div>

    <div class="col coltype2">
      <input id="TRtag" type="number" class="smallinput" placeholder="" >
      <label for="TRtag">ms</label>
        <div class="w-100"></div>
      <input id="TEtag" type="number" class="smallinput" placeholder="">
      <label for="TEtag">ms</label>
        <div class="w-100"></div>
      <input id="TItag" type="number"  class="smallinput" placeholder="">
      <label for="TItag">ms</label>
        <div class="w-100"></div>
      <input id="FAtag" type="number" class="smallinput" placeholder="">
      <label for="FAtag">deg</label>
    </div>

    <div class="col coltype1">
      <label for="watsup">Water Supression:</label>
        <div class="w-100"></div>
      <label for="fatsup">Fat Supression:</label>
    </div>

    <div class="col coltype2">
      <select id="watsup" class="selector" name="ws">
        <option value="no">None</option>
        <option value="yes">Yes</option>
      </select>
        <div class="w-100"></div>
      <select id="fatsup" class="selector" name="fs">
        <option value="no">None</option>
        <option value="yes">Yes</option>
      </select>
    </div>

</div>

<h2>Geometry</h2>

<div class="row">

  <div class="col">

    <h3>Slice Selection</h3>

  </div>

  <div class="col">

    <h3 style="text-align:left;">Spatial Encoding</h3>

  </div>

</div>

<div class="row">

  <div class="col-3 coltype1">
    <label for="Thickness">Thickness</label>
      <div class="w-100"></div>
    <label for="Slices">Slices</label>
      <div class="w-100"></div>
    <label for="Gap">Gap</label>
      <div class="w-100"></div>
    <label for="Pos">Position</label>
      <div class="w-100"></div>
    <label for="Posx">x</label>
      <div class="w-100"></div>
    <label for="Posy">y</label>
      <div class="w-100"></div>
    <label for="Posz">z</label>
  </div>

  <div class="col-3 coltype2 ">
    <input id="Thickness" type="number" class="smallinput" placeholder="" onchange="voxelSizeCalc()">
    <label for="Thickness">mm</label>
      <div class="w-100"></div>
    <input id="Slices" type="number" class="smallinput" placeholder="">
      <div class="w-100"></div>
    <input id="Gap" type="number"  class="smallinput" style="margin-top:8px;" placeholder="">
    <label for="Gap">%</label>
      <div class="w-100"></div>
    <input id="Posx" type="number" class="smallinput" style="margin-top:35px;width:50px;" placeholder="">
    <label for="Posx">mm</label>
      <div class="w-100"></div>
    <input id="Posy" type="number" class="smallinput" style="width:50px;" placeholder="">
    <label for="Posy">mm</label>
      <div class="w-100"></div>
    <input id="Posz" type="number" class="smallinput" style="width:50px;" placeholder="">
    <label for="Posz">mm</label>
  </div>


  <div class="col">

    <div class="row">

      <div class="col-3 coltype2">
            <div class="w-100"></div>
          <label for="freq" style="margin-top:30px">Frequency:</label>
            <div class="w-100"></div>
          <label for="phase">Phase:</label>
      </div>

      <div class="col-3 coltype2">
          <div class="w-100"></div>
        <select id="freq" class="selector" name="freq" style="margin-top:30px">
          <option value="x">x</option>
          <option value="y">y</option>
          <option value="z">z</option>
        </select>
          <div class="w-100"></div>
        <select id="phase" class="selector" name="ph">
          <option value="x">x</option>
          <option value="y">y</option>
          <option value="z">z</option>
        </select>
      </div>

      <div class="col-2 coltype3">
          <label>N</label>
            <div class="w-100"></div>
          <input  id="Nx" type="number" class="smallinput" style="width:50px;" placeholder="" onchange="voxelSizeCalc()">

          <input id="Ny" type="number" class="smallinput" style="margin-top:8px;width:50px;" placeholder="" onchange="voxelSizeCalc()">
      </div>

      <div class="col-4 coltype2">
          <label >FOV</label>
            <div class="w-100"></div>
          <input id="FOVx" type="number" class="smallinput" style="width:50px;" placeholder="" onchange="voxelSizeCalc()">
          <label for="FOVx">mm</label>
            <div class="w-100"></div>
          <input id="FOVy"type="number" class="smallinput" style="width:50px;" onchange="voxelSizeCalc()">
          <label for="FOVy">mm</label>
      </div>

    </div>

    <div class="row">

      <div class="col coltype1">

        <label for="BW">ADC Bandwidth</label>

      </div>

      <div class="col coltype2">

        <input id="BW" type="number" class="smallinput" style="width:50px;">
        <label for="BW">kHz</label>
        <div class="voxsize">
          <p>Voxel size:</p>
          <p>x: <span id="vsx">0</span> mm</p>
          <p>y: <span id="vsy">0</span> mm</p>
          <p>z: <span id="thick">0</span> mm</p>
        </div>

        


      </div>

    </div>

  </div>



</div>
