<!--"""-->
<!--This script corresponds to the GUI content for the Register tab of the virtual scanner-->
<!--Parameters-->
    <!--Requires input from the user regarding subject data and Procedure-->
    <!--ID, Name, Age, Date of Birth, Gender, Weight, height, orientation within the scanner and anatomy imaged -->

<!--Returns-->
    <!--payload with the form inputs after pressing the submission button-->


<!--Author: Marina Manso, Modified by: Sairam Geethanath-->
<!--Date: 03/28/2019-->
<!--Version 1.0-->
<!--Copyright of the Board of Trustees of  Columbia University in the City of New York-->
<!--"""-->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Standard Mode</title>

    <!--favicon -->
    <!--<link rel="shortcut icon" icon” type=”image/png” href="favicomatic/favicon.ico">-->

    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Manual links-->
    <!--Bootstrap & JQuery-->
    <link rel="stylesheet" href="../static/packages/Bootstrap/bootstrap.min.css">
    <script  src="../static/packages/Bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../static/packages/Bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="../static/packages/Bootstrap/bootstrap.min.js"></script>

    <!--JQuery-->
    <script type="text/javascript" src="../static/packages/jquery-3.3.1.min.js"></script>

    <!--JQuery UI-->
    <script type="text/javascript" src="../static/packages/jQuery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="../static/packages/jQuery-ui/jquery-ui.css">

    <!--bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='register_style.css')}}">

    <!--jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- TODO: merge functions in one script -->
    <!-- External JS files-->
    <!--<script type="text/javascript" src="{{url_for('static',filename='form2Json.js')}}"></script>-->
    <!--<script src="../static/form2Json.js"> </script>-->

    <script src="../static/phantomAutofill.js"> </script>
    <script src="../static/register_func.js"> </script>
    <script src="../static/log_out_func.js"> </script>

    <script type="text/javascript">
      if ('{{ success }}') {

        {% autoescape false %}
          var payload_dict = {{ payload }}

          $(document).ready(function(){
            $("#success-sentence").show();
            $("#warning-sentence").hide();
            $("#new-subject").show();

            autoFillForm(payload_dict);

          });

        {% endautoescape %}
      }
      if ('{{ msg }}') {

        {% autoescape false %}

          $(document).ready(function(){
            $("#warning-sentence").show();


          });

        {% endautoescape %}
      }

    </script>

    <!--GUID code-->
    <!--<!-- <!-- FIXME: link not working https://github.com/kelektiv/node-uuid
    /script src="http://wzrd.in/standalone/uuid%2Fv1@latest"></script>-->


  </head>
  <body>

    <div id="enclosingjumbo" class="jumbotron">
      <h1>Virtual MR Scanner - Standard Mode</h1>
      <input type="button" class="btn btn-primary feedback-btn" value="?">
      <input id="log-out" class="btn btn-primary" type="button" name="" value="Log-out" style="float:right">
      <div id="panel-container" class="container">
        <!--<div class="row" id="panel-row">
          <div class="col">-->

            <!--Main Panel -->
            <div id="mainpanel" class="jumbotron">
              <nav>

                <ul class="nav nav-tabs nav-fill">
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('on_register')}}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('on_acq')}}">Acquire</a>
                    <!--<a class="nav-link" href="acquire.html">Acquire</a>-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('on_analyze')}}">Analyze</a>
                  </li>

                </ul>
              </nav>

              <form id="regparameters" method="post" action="/receiver">

                <input type="hidden" id="formId" name="formName" value="reg">

                  <div class="row">

                    <!--PATIENT Parameters -->
                    <div class="col">
                      <h2 class="first-row-header">Subject

                          <select id="subjectSelect" class="selector" name="subjecttype">
                            <!--<option selected hidden>Subject</option>-->
                            <option value="human" disabled>Human</option>
                            <option id="ISMRM-NIST" class="phantomopt" disabled>ISMRM-NIST</option>
                            <option id="Numerical" class="phantomopt" selected>Numerical</option>
                            

                          </select>


                      </h2>
                      <div class="row">
                        <!--Labels column -->
                        <div class="col coltype1">

                          <label for="">ID</label>
                            <div class="w-100"></div>
                          <label for="">Name</label>
                            <div class="w-100"></div>
                          <label for="">Age</label>
                            <div class="w-100"></div>
                          <label for="">Date of Birth</label>
                            <div class="w-100"></div>

                          <label for="">Gender</label>
                            <div class="w-100"></div>

                          <label for="">Weight</label>
                            <div class="w-100"></div>
                          <label for="">Height</label>



                        </div>
                        <!--Input column -->
                        <div class="col coltype2">

                          <label for="patid">
                            <input id="patid" type="text" class="largeinput" name="patid" >
                          </label>

                            <div class="w-100"></div>

                          <label for="name">
                            <input id="name" type="text" class="largeinput" placeholder="LastName, FirstName"  name="name">
                          </label>

                            <div class="w-100"></div>

                          <input id="age" type="number" class="smallinput"  name="age" >
                          <label for="age">Years</label>

                            <div class="w-100"></div>

                          <input id="dob" type="text" class="mediuminput"  name="dob" >
                          <label for="dob">M/D/YYYY</label>



                            <div class="w-100"></div>


                          <label class="radio-inline" >
                            <input class="gender" id="male" type="radio" name="gender" value="male" checked >
                              <label for="opt1">Male</label>
                            <input class="not-first-radio gender" id="female" type="radio" name="gender" value="female" >
                              <label for="female">Female</label>
                            <input class="not-first-radio gender" id="other" type="radio" name="gender" value="other">
                              <label for="opt3">Other</label>
                          </label>

                            <div class="w-100"></div>



                          <div class="row">
                            <div class="col coltype2">
                              <input id="weight" type="number" class="smallinput" name="weight"  >
                              <label id="weightlabel" for="weight">
                                <select id="weight-unit" class="selector" name="weight-unit">
                                  <option value="kg">kg</option>
                                  <option value="lbs">lbs</option>
                                </select>
                              </label>

                                <div class="w-100"></div>

                              <input  id="height" type="number" class="smallinput" name="height"  >
                              <label id="heightlabel" for="height">
                                <select id="height-unit" class="selector" name="height-unit">
                                  <option value="cm">cm</option>
                                  <option value="ft">ft</option>
                                </select>
                                <input id="in-input" type="number" class="smallinput extra-field" name="inches"  >
                                <label class="extra-field">in</label>
                              </label>
                            </div>


                          </div>

                        </div>

                      </div>

                    </div>

                    <!--Procedure Parameters -->
                    <div class="col">
                      <h2 class="first-row-header">Procedure</h2>
                      <div class="row">
                        <!--Labels column -->
                        <div class="col coltype1">
                          <label for="orient">Orientation</label>
                            <div class="w-100"></div>
                          <label for="anatomy">Anatomy</label>

                        </div>
                        <!--Input column -->
                        <div class="col coltype2">
                          <label for="orient">
                            <select id="orient" class="selector" name="orient">
                              <option value="HFS">Head First Supine</option>
                              <option value="FFS">Feet First Supine</option>
                              <option value="HFP">Head First Prone</option>
                              <option value="HFR">Head First LR</option>
                              <option value="FFR">Feet First LR</option>
                              <option value="HFL">Head First LL</option>
                              <option value="FFL">Feet First LL</option>
                            </select>
                          </label>

                            <div class="w-100"></div>

                          <label for="anatomy">
                            <select id="anatomy" class="selector" name="anatomy">
                              <option value="brain">Brain</option>
                              <option value="abdomen">Abdomen</option>
                              <option value="knee">Knee</option>
                            </select>
                          </label>

                        </div>

                      </div>

                      </div>
                    </div>
                      <div class="row">
                        <div class="col" id="submitButton" >
                          <input id="reg-form-submit" type="submit" class="btn btn-primary" value="Register Subject" >

                        </div>

                      </div>

              </form>

              <form id="new-subject-form" method="post" action="/receiver" >

                <input type="hidden" id="formId2" name="formName" value="new-reg">
                <input id="new-subject" type="submit" class="btn btn-primary" value="New Subject" >
              </form>

            </div>


      </div>

          <!--Image Panel-->
      <div id="subjectImage-container" class="container" >
      </div>

      <div class="success-container">
        <h1 id="success-sentence">Subject successfully registered!</h1>
        <h1 id="warning-sentence">Please register first</h1>
      </div>


    </div>










  </body>
</html>
