<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Advanced Mode</title>

    <!--favicon -->
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Manual links-->
    <!--Bootstrap & JQuery-->
    <link rel="stylesheet" href="../static/packages/Bootstrap/bootstrap.min.css">
    <script  src="../static/packages/Bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../static/packages/Bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="../static/packages/Bootstrap/bootstrap.min.js"></script>

    <!--JQuery-->
    <script type="text/javascript" src="../static/packages/jquery-3.3.1.min.js"></script>

    <!-- External JS files-->
    <script type="text/javascript">
      if ('{{ success }}') {
        {% autoescape false %}


          var payload_dict = {{ payload }}

          $(document).ready(function(){

            $('#images-panel').html('<img src='+payload_dict['plot_path']+'>');
            $('#H10s').html(payload_dict['SAR_hg_tensec_peak']);
            $('#H6min').html(payload_dict['SAR_hg_sixmin_peak']);
            $('#WB10s').html(payload_dict['SAR_wbg_tensec_peak']);
            $('#WB6min').html(payload_dict['SAR_wbg_sixmin_peak']);

          });

        {% endautoescape %}
      }
      $(document).ready(function(){
        $("#tx-im").addClass("highlighted");
      });
    </script>


    <!--CSS-->
    <link rel="stylesheet" href="../static/main_style.css">
    <link rel="stylesheet" href="../static/advanced_mode_style.css">
    <link rel="stylesheet" href="../static/tx_style.css">

    <!--Customized JS-->
      <script type="text/javascript" src="../static/tx_func.js"></script>
      <script src="../static/log_out_func.js"> </script>


  </head>
  <body>
    <div id="gradients-panel" class="jumbotron">
      <div id="gradients-container">
        <img src="./static/advanced/gradients.png" >
      </div>
      <div id="txrx-container">
        <img id="tx-im" src="./static/advanced/Tx.png" >
        <img  id="rx-im" src="./static/advanced/Rx.png" >
      </div>

      <div id="human-form-container">
        <img src="./static/advanced/human-form.png" >

      </div>
      <div id="computer-container">
        <img id="computer-im" src="./static/advanced/computer.png" >

      </div>
      <div id="run-exam-button">
        <p>RUN EXPERIMENT</p>
      </div>

    </div>
    <div id="enclosingjumbo" class="jumbotron">
      <h1>Virtual MR Scanner - Advanced Mode</h1>
      <input type="button" class="btn btn-primary feedback-btn" value="?">
      <input id="log-out" class="btn btn-primary" type="button" name="" value="Log-out" style="float:right">
      <div id="images-panel" class="jumbotron"></div>

      <div id="mainpanel" class="jumbotron">
        <nav>

          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link disabled" href="..." >PSD Inspector</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('on_tx')}}">Tx</a>
              <!--<a class="nav-link" href="acquire.html">Acquire</a>-->
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="...">Subject</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('on_rx')}}">Rx</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('on_recon')}}">Recon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="...">Analysis</a>
            </li>

          </ul>
        </nav>
        <form class="" action="/receiver" method="post" enctype="multipart/form-data">
          <!-- Hidden file input to trigger file choice dialog to open-->
          <input type="hidden" id="formId" name="formName" value="tx">

          <div class="row">
            <div  class="col">
              <label id="inputs-col">
                <input id="show-filename" class="largeinput" type="text" name="file-input-name" placeholder="example.seq">
                <input id="trigger-btn" class="btn btn-primary" type="button" value="Select File">
                <input id="file-select" type="file" accept=".seq" name="file">

                <input id="SAR-calc" class="btn btn-primary" type="submit" name="" value="Calculate SAR">
              </label>

            </div>
            <div id="table-col" class="col">
              <table>
                <tr>
                  <th class="no-border"> </th>
                  <th colspan="2">Global SAR [W/kg]</th>
                </tr>
                <tr>
                  <td  class="no-border"></td>
                  <td>10 seconds average</td>
                  <td>6 minutes average</td>
                </tr>
                <tr>
                  <td>Whole body</td>
                  <td id="WB10s"></td>
                  <td id="WB6min"></td>
                </tr>
                <tr>
                  <td>Head only</td>
                  <td id="H10s"></td>
                  <td id="H6min"></td>
                </tr>
              </table>
            </div>

          </div>


        </form>



      </div>
    </div>
  </body>
</html>
